sudo: required

services: docker

before_install:
  - echo "create docker image"
  - docker build -t bapbodanbbang/docker-react-app -f Dockerfile.dev .

script:
  - docker run -e CI=true bapbodanbbang/docker-react-app npm run test -- --coverage

after_success:
  - echo "Test Success!"

after_failure:
  - echo "Test Fail!"
